<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nickgardone.jobsearch</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Library/Frameworks/Python.framework/Versions/3.13/bin/python3</string>
        <string>/Users/nickgardone/Documents/Business/Career/Applications/job_search.py</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>8</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>EnvironmentVariables</key>
    <dict>
        <key>ANTHROPIC_API_KEY</key>
        <string>REPLACE_WITH_YOUR_KEY</string>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/nickgardone/Documents/Business/Career/Applications/job_search_stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/nickgardone/Documents/Business/Career/Applications/job_search_stderr.log</string>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
